html, body {
	margin: 0;
}
.align {
	margin: 10px;
}


.modal {
	display: none; /* Hidden by default */
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	overflow: auto; 
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
	margin: 15% auto;
	padding: 20px;
	border: 3px solid;
	border-color: white rgb(123,123,123) rgb(123,123,123) white;
	background-color: rgb(188,188,188);
	width: 50%;
	font-size: 30px;
	vertical-align: middle;
	text-align: center;
}


.info {
	margin: 0px;
	border: 2px solid;
	border-color: #eeeeee #999999 #999999 #eeeeee;
	background-color: rgb(188,188,188);
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	cursor: default;
}
.counter {
	margin: 10px 5px 10px 5px;
	border: 1px inset #eeeeee;
	padding-right: 3px;
	width: 20%;
	max-width: 60px;
	background-color: #000000;
	color: #ff0000;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
	text-align: right;
}
#mines {
	float: left;
}
#timer {
	float: right;
}
.gly {
	cursor: pointer;
	width: 24px;
	height: 24px;
	margin: 10px 5px 10px 5px;
	vertical-align: middle;
	border: 2px solid;
	border-color: #eeeeee #999999 #999999 #eeeeee;
}
.gly:active {
	border: 1px inset #eeeeee;
}
.gly.disabled {
	border: 1px inset #eeeeee;
	opacity: 0.65;
	cursor: default;
}


#mine-table {
	border-spacing: 0;
	text-align: center;
	vertical-align: middle;
	background-color: rgb(123,123,123);
	border: 5px rgb(188,188,188) solid;
}
tr {
	width: 100%;
}


.tile {
	box-sizing: border-box;
	width: 24px;
	max-width: 24px;
	min-width: 24px;
	height: 24px;
	min-height: 24px;
	max-height: 24px;
	cursor: pointer;
	margin: 0px;
	border: 3px solid;
	border-color: white rgb(123,123,123) rgb(123,123,123) white;
	background-color: rgb(188,188,188);
	padding: 0px;
	vertical-align: middle;
	text-align: center;
	-webkit-user-select: none;
}
.tile.tile-num-1 {
	color: blue;
}
.tile.tile-num-2 {
	color: green;
}
.tile.tile-num-3 {
	color: red;
}
.tile.tile-num-4 {
	color: rgb(0,0,150);
}
.tile.tile-num-5 {
	color: rgb(150,0,0);
}
.tile.tile-num-6 {
	color: rgb(0,120,120);
}
.tile.tile-num-7 {
	color: rgb(30,30,30);
}
.tile.tile-num-8 {
	color: rgb(150,150,150);
}
.tile:active {
	background-color: rgb(188,188,188);
	border: 1px solid rgb(123,123,123);
	cursor: default;
}
.tile-show {
	background-color: rgb(188,188,188);
	border: 1px solid rgb(123,123,123);
	cursor: default;
}
.tile img {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.mine-explode {
	background-color: red;
}